{{#bs-carousel as |car|}}
  {{#car.slide}}
    <img alt='First slide' src='https://res.cloudinary.com/andrewinnocent/image/upload/v1523642665/Black_Pre-Tied.jpg'>
    <div class="carousel-caption">
      First caption
    </div>
  {{/car.slide}}
  {{#car.slide}}
    <img alt='Second slide' src='https://res.cloudinary.com/andrewinnocent/image/upload/v1523642663/La_Mesa_Diamond_Tip.jpg'>
    <div class="carousel-caption">
      Second caption
    </div>
  {{/car.slide}}
{{/bs-carousel}}
