<h2>Cart Page!</h2>
  <ol>
{{#each model as |bow|}}

    <li> {{bow.bowId.name}} </li>

{{/each}}
  </ol>
<div>
  <button class="btn btn-success"> Checkout </button>
</div>
<div>
  {{#link-to 'bows'}}Back to Shopping{{/link-to}}
</div>
